.box1{
    height: 300;
    background-color: rgb(230, 179, 116);
    text-align: center;
    align-items:center;
}
.sections{
    text-align: center;
}
.subheading{
    height: 75;
    background-color: rgba(230, 179, 116, 0.488);
    text-align: center;
}
.recipeTitle{
    text-align: center;
    font-size: 30px;
}